[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
flask-restful = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
lxml = "*"
beautifulsoup4 = "*"
requests = "*"
python-dotenv = "*"
webargs = "*"
gunicorn = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
